h1{
    background-color: red;
    position: relative;
}
.motcle{
    font-size: 120px;
}
#vente1 {
    position: relative;
    zoom: 0.2;
    font-size: 80px;
    display: flex;
    background-color: white;
    margin-top: 10px;
    margin-left: 100px;
}

#vente2 {
    position: relative;
    zoom: 0.2;
    font-size: 80px;
    display: flex;
    background-color: white;
    margin-top: 10px;
    margin-left: 100px;
}

#vente3 {
    position: relative;
    zoom: 0.2;
    font-size: 80px;
    display: flex;
    background-color: white;
    margin-top: 10px;
    margin-left: 100px;
}

#vente4 {
    position: relative;
    zoom: 0.2;
    font-size: 80px;
    display: flex;
    background-color: white;
    margin-top: 10px;
    margin-left: 100px;
}
h1{
    background-color: red;
}

.form-inline{
    margin-left: 100px;
    margin-bottom: 10px;
}

.fas{
    color: black;
    border-radius: 6px;
    font-size: 180%;
    margin-left: 30px;
}
