h1{
    background-color: red;
}
.motcle{
    font-size: 120px;
}
#event1 {
    position: relative;
    zoom: 0.2;
    font-size: 80px;
    display: flex;
    background-color: white;
    margin-top: 10px;
    margin-left: 100px;
}

.motcle2{
    font-size: 120px;
    text-align: right;
}
#event2 {
    position: relative;
    zoom: 0.2;
    font-size: 80px;
    display: flex;
    background-color: white;
    margin-top: 10px;
    direction: rtl;
    margin-right: 100px;
}
.mot{
    height: 100%;
    display:flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: start;
}
#event3 {
    position: relative;
    zoom: 0.2;
    font-size: 80px;
    display: flex;
    background-color: white;
    margin-top: 10px;
    margin-left: 100px;
}

.motcle2{
    font-size: 120px;
    text-align: right;
}
#event4 {
    position: relative;
    zoom: 0.2;
    font-size: 80px;
    display: flex;
    background-color: white;
    margin-top: 10px;
    direction: rtl;
    margin-right: 100px;
}
.mot{
    height: 100%;
    display:flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: start;
}

.like{
    width: 100px;
    height: 100px;
    display: inline-block;
    color: black;
    border-radius: 20px;
    margin: 10px;
}
.like:hover{
    color: blue;
}
