html, body {
    background-color: white;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0px;
}

.navbar-light{
    background-color: black;
}

a.nav-link {
    background-color: white;
}

.active{
    cursor: pointer;
}
.full-height {
    height: 0px;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.cesientreprise{
    zoom: 0.2;
}

.bde{
    zoom: 0.2;
}

.m-b-md {
    margin-bottom: 30px;
}

.reseaux{
    width: 50px;
    height: 50px;
    display: inline-block;
    color: #ffff;
    border-radius: 6px;
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    margin: 10px;
}
.facebook{
    background-color: #4267b2;
}
.facebook:hover{
    color: #4267b2;
    background-color: white;
}
.twitter{
    background-color: #38A1F3;
}
.twitter:hover{
    color: #38A1F3;
    background-color: white;
}
.instagram{
    background-color: #C13584;
}
.instagram:hover{
    color: #C13584;
    background-color: white;
}
.youtube{
    background-color: #ED3833;
}
.youtube:hover{
    color: #ED3833;
    background-color: white;
}
.linkedin{
    background-color: #0077B5;
}
.linkedin:hover{
    color: #0077B5;
    background-color: white;
}

.connexion {
    margin-right: 10px;
    color: red;
    border-radius: 6px;
    text-align: center;
    font-size: 30px;
    background-color: yellow;
}
.connexion:hover {
    color: black;
    background-color: red;
}
